footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-grey-dark);
    padding: 1rem 2rem;

    .active {
        color: var(--color-yellow-faint);
    }

    a,
    p {
        font-size: 1.5rem;
        color: var(--color-grey-light);
    }

    p {
        opacity: 0.6;
    }
}
