header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-grey-dark);
    padding: 2rem;

    .header-nav-title,
    .header-nav-links {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        a {
            color: var(--color-grey-light);
        }
    }

    .header-nav-title {
        font-size: 2.7rem;

        .active {
            color: var(--color-nav-active);
        }
    }

    .header-nav-links {
        padding-top: 0.4rem;

        a {
            font-size: 2.2rem;
            transition: 0.2s;
        }

        a:hover {
            padding-top: 0.1rem;
        }

        .active {
            color: var(--color-nav-active);
            padding-top: 0.1rem;
        }
    }
}

@media screen and (max-width: 950px) {
    header {
        .header-nav-title {
            font-size: 2.2rem;
        }

        .header-nav-links {
            a {
                font-size: 1.8rem;
            }
        }
    }
}
