header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;
    background-color: var(--color-grey-dark);

    .header-nav-title,
    .header-nav-links {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        a {
            color: var(--color-grey-light);
        }
    }

    .header-nav-title {
        font-size: 3rem;
    }

    .header-nav-links {
        font-size: 2.5rem;
    }
}
