.home-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    .card {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        min-width: 90%;
        max-height: 70vh;

        .card-figure {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            figcaption {
                color: var(--color-grey-light);
                font-size: 0.7rem;
                opacity: 0.6;
            }
        }

        .card-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            flex-grow: 1;

            .card-artists,
            .card-work {
                color: var(--color-grey-light);
            }

            .card-artists {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                font-size: 2rem;
            }

            .card-work {
                font-size: 1.6rem;
            }
        }

        .favorite {
            font-variation-settings: "FILL" 1;
        }

        .favorite-icon {
            align-self: flex-end;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 950px) {
    .home-page {
        flex-grow: 1;
        flex-direction: column;

        .card {
            flex-direction: column;
            align-items: center;
            max-height: 100%;
            margin: 2rem 1rem;

            .card-figure {
                min-width: 70%;
            }

            .card-text {
                gap: 0.5rem;
            }
        }
    }
}
