.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0.8;
    color: var(--color-grey-light);
    font-size: 1.5rem;

    #loginForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        #loginFormPassword,
        #loginFormUsername {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            input {
                height: 2.5rem;
                font-size: 1.5rem;
                padding: 0.3rem;
            }
        }
    }
}
